//Vendor
// @import "./vendor/_vendor-dir";

//Abstracts
// @import "../scss/abstracts/_abstracts-dir";

// //Base Styles
// @import "./base/_base-dir";

// //Components
// @import "./components/_components-dir";

// //Layout
// @import "./layouts/_layouts-dir";

// @import url()

//Variables
$my-neon: #ffd8d8;
$my-basic: black;

@font-face {
  font-family: "Digital-7";
  src: url("../fonts/digital-7/digital-7.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $my-basic;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.clock {
  display: inline-block;
  text-align: center;
  width: 75%;
  margin: 25px auto;
  word-wrap: normal;
  line-height: 6rem;
  font-weight: 100;
  font-family: "Digital-7";
  font-size: 4rem;
  color: $my-neon;
  letter-spacing: 0.5em;
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
    0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
    0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
    0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b;
}
